# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.txt text
*.lua text
*.md text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.ttf binary
*.otf binary
